body {
  background-image: url(images/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -530px;
  background-color: #FFF849;
}

body::after {
 content: "";
 background: url(images/bg.jpg);
 opacity: 0.5;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 position: absolute;
 z-index: -1;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
   filter: url(images/bg.jpg);
   filter: gray;
   -webkit-filter: grayscale(1);
}

h1 {
  font-size: 70px;
  color: #FF4F00;
  text-align: center;
  padding-top: 12%;
  font-family: monospace;
  font-weight: 500;
}

 h3 {
  font-size: 40px;
  color: #FF4F00;
  text-align: center;
  padding-top: 0;
  font-family: monospace;
  font-weight: 700;
}
